[Unit]
Description=photoFrame
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/site/EspIMG
ExecStart=/site/EspIMG/venv/bin/python3 /site/EspIMG/app.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target